<footer>
    <div class="footer-content">
      <div class="brand-section">
        <h2>Go<span>&Play</span></h2>
        <div class="app-links">
          <a href="#"><img src="/google.webp" alt="Get it on Google Play"></a>
          <a href="#"><img src="/app.png" alt="Download on the App Store"></a>
        </div>
      </div>
      <div class="links-section">
        <ul>
          <li><a href="#">Obtén ayuda</a></li>
          <li><a href="#">Compra tarjetas de regalo</a></li>
          <li><a href="#">Pre ventas</a></li>
          <li><a href="#">Apartados</a></li>
          <li><a href="#">Promociones</a></li>
          <li><a href="#">Trabaja con Nosotros</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="social-icons">
        <a href="#"><img src="/face-icon.png" alt="Facebook"></a>
        <a href="#"><img src="/insta-icon.png" alt="Instagram"></a>
        <a href="#"><img src="/x.png" alt="X"></a>
      </div>
      <div class="legal">
        <a href="#">Política de privacidad</a> | <a href="#">Términos</a> | <a href="#">Tarifas</a>
        <p>Se aplican la Política de privacidad y los Términos del servicio. © 2025 Go&Play Games Inc.</p>
      </div>
    </div>
  </footer>