<aside class="aside">
    <nav>
      <ul>
        <li>
          <a href="#">
            <i class="fa-solid fa-house"></i> Inicio
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-bars"></i> Menu
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-money-check-dollar"></i> Pagos
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-bug"></i> Reportes
          </a>
        </li>
      </ul>
    </nav>
    <div class="settings">
      <a href="#"> <i class="fa-solid fa-gears"></i>
        Configuración
      </a>
    </div>
  </aside>
